<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
    <link rel="stylesheet" href={% static 'css/bootstrap-theme.min.css' %}>
{#     Medium Style Editor#}

    <link rel="stylesheet" href="{% static 'css/medium-editor.min.css' %}">
    <script src="{% static 'js/medium-editor.min.js' %}"></script>

{#    Custom CSS#}

    <link rel="stylesheet" href={% static 'css/blog.css' %}>

{#    Fonts #}

    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">



</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top techfont custom-navbar">
        <div class="container">

        <ul class="nav navbar-nav">
            <li><a class="navbar-brand bigbrand" href="{% url 'post_list' %}"> My Blog</a></li>
            <li><a class="navbar-link" href="{% url 'about' %}"> About</a></li>
            <li><a class="navbar-link" href="https://www.github.com"> Github</a></li>
            <li><a class="navbar-link" href="https://www.linkedin.com">LinkedIn</a></li>

        </ul>

            <ul class="nav navbar-nav navbar-right">

                {% if user.is_authenticated %}

                    <li><a class="navbar-link" href="{% url 'post_new' %}">New Post</a></li>
                    <li><a class="navbar-link" href="{% url 'post_draft_list' %}">Drafts</a></li>
                    <li><a class="navbar-link" href="{% url 'logout' %}">Log Out</a></li>
                    <li><a> Welcome: {{ user.username }} </a></li>

                    {% else %}
                    <li><a class="navbar-right" href="{% url 'login' %}">  <span class="glyphicon glyphicon-user"></span>> Login</a></li>

                {% endif %}

            </ul>

        </div>

    </nav>


<div class="content container">
    <div class="row">
        <div class="col-m-8">

            <div class="blog_posts">

                {% block content %}

                {% endblock %}


            </div>

        </div>

    </div>




</div>


</body>
</html>